footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    padding: 2rem;


}

.logo_footer{
    font-family: Workbench, serif;
    border:2px solid white;
    padding: 1rem;

}