nav {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 1rem;
    background: url("/img/navbar_background.svg");
    position: fixed;
    width: 100%;
    font-family: "Press Start 2P", system-ui;

}

.navbar{
    display: flex;


}

.navbar li{

    padding-right: 4rem;
    text-decoration: none;
}




