.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2.8rem;
    font-family: "Press Start 2P", system-ui;
}
.welcome h1{
    font-size: 2rem;
}
.welcome h2{
    font-size: 5rem;
    padding-bottom: 0;
}
.welcome h4{

    font-family: "VT323", monospace;
    font-size: 1.5rem;
}
.welcome button{
    font-family: "VT323", monospace;
    padding: 0.8rem;
    font-size: 1.2rem;
}