.work{
    display: flex;
    flex-direction: column;

}

.text_work{
    display: flex;
    align-items: center;
    padding-left: 6rem;
}

.text_work h2{
    padding: 3rem;
    font-family: "Press Start 2P", system-ui;
    font-size: 3rem;


}
.text_work h3 {
    width: 40%;
    margin-left: 12rem;
    font-family: "VT323", monospace;
    font-size: 1.6rem;
}

.proyects_work{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.proyects_work h3{
    font-family: "VT323", monospace;
    font-size: 2rem;
    padding-left: 3rem;


}

.proyects_work ul{
    display: flex;
    align-items: center;

}

.proyects_work li{
    padding: 2rem;
}

.button{
    display: flex;
    justify-content:flex-end;
    width: 80%;
    font-family: "VT323", monospace;
}

.button button{
    padding: 1rem;
    font-size: 1.3;
}

